@use '/src/styles/constants/colors';

.reviewWrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid colors.$BACKGROUND;

  .reviewcontent {
    height: 100px;
  }

  .createdDate {
    font-size: 15px;
    color: colors.$G;
  }
}
