$BLACK: #000000;
$GRAY2: #a8a8a8;
$GRAY3: #cccccc;
$GRAY5: #f5f6f8;
$GRAY6: #d7d9dc;
$WHITE: #ffffff;

$STAR: #ffa500;

$RED: #ff3145;
$RED2: #ff4b5c;
$RED3: #ff8b96;
$RED4: #ffd8db;
$FONT: #222222;
$BACKGROUND: #f6f6f6;
$G: #979cb4;
