@use '/src/styles/constants/colors';

.ratingLabel {
  cursor: pointer;
}

.ratingInput {
  position: absolute;
  left: -9999px;
}

.starIcon {
  color: colors.$STAR;
}

.ratingInput:checked ~ .ratingLabel .starIcon {
  color: colors.$GRAYA;
}

.ratingGroup:hover .ratingLabel .starIcon {
  color: colors.$STAR;
}

.ratingInput:hover ~ .ratingLabel .starIcon {
  color: colors.$GRAYA;
}
